@{
    Layout = "_UserLayout";
}
<div class="account">
    <div class="account_bar">
        <a href="#" class="logo" aria-label="hellojob">
            <img src="./assets/images/night_mode_logo.svg" alt="" />
        </a>
        <ul class="myprofile">
            <li>
                <a class="active" href="./account.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg"
                             alt="" />
                    </span>
                    Profilim
                </a>
            </li>
            <li>
                <a href="./postCv.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                             alt="" />
                    </span>
                    Cv yerləşdir
                </a>
            </li>
            <li>
                <a href="./myOrder.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                             alt="" />
                    </span>
                    Gözləmədə olan elanlar
                </a>
            </li>
            <li>
                <a href="./mysticker.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                             alt="" />
                    </span>
                    Elanlarım
                </a>
            </li>
            <li>
                <a href="./WishListpage.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg"
                             alt="" />
                    </span>
                    Bəyəndiklərim
                </a>
            </li>
            <li>
                <a href="./security.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                             alt="" />
                    </span>
                    Təhlükəsizlik
                </a>
            </li>
            <li>
                <a href="./CreateCompany.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                             alt="" />
                    </span>
                    Şirkət yarat
                </a>
            </li>
            <li>
                <a href="./myCompany.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                             alt="" />
                    </span>
                    Şirkətlərim
                </a>
            </li>
            <li>
                <a href="./PostVacans.html">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                             alt="" />
                    </span>
                    Vakansiya Yerləşdir
                </a>
            </li>
        </ul>
        <div class="backsite">
            <a href="./index.html"
               class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
        </div>
    </div>
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a href="./index.html"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a href="./account.html" class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>Rashid Baghirov</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a href="./mysticker.html">Mənim elanlarım</a></li>
                        <li>
                            <a href="./security.html">Şəxsi məlumatlar</a>
                        </li>
                        <li><a href="/logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="account_body">
            <div class="my-profile">
                <div class="my-profile__head">
                    <h1 class="my-profile__name">Xoş gəlmisiniz, Rashid</h1>
                    <p>Hellojob.az</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 ">
                        <a class="my-profile__item" href="./mysticker.html">
                            <div class="my-profile__item__icon">
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/building.svg"
                                     alt="" />
                            </div>
                            <h2 class="my-profile__item__name">Vakansiya Yerləşdir</h2>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a class="my-profile__item" href="./postCv.html">
                            <div class="my-profile__item__icon">
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user-check.svg"
                                     alt="" />
                            </div>
                            <h2 class="my-profile__item__name">CV yerləşdir</h2>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a class="my-profile__item" href="./mysticker.html">
                            <div class="my-profile__item__icon">
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/share.svg"
                                     alt="" />
                            </div>
                            <h2 class="my-profile__item__name">Elanlarım</h2>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a class="my-profile__item" href="./WishListpage.html">
                            <div class="my-profile__item__icon">
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/check-heart.svg"
                                     alt="" />
                            </div>
                            <h2 class="my-profile__item__name">Bəyəndiklərim</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head ">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="./assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        <div class="persons_menu">
            <div class="account_head_user">
                <ul>
                    <li><a href="./account.html">Rəşid Bağırov</a></li>
                    <li><a href="./mysticker.html">Mənim elanlarım</a></li>
                    <li>
                        <a href="./security.html">Şəxsi məlumatlar</a>
                    </li>
                    <li><a href="/logout">Çıxış</a></li>
                </ul>
            </div>
        </div>
        <div class="hamburgers_menu">
            <ul class="myprofile">
                <li>
                    <a href="./account.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg"
                                 alt="" />
                        </span>
                        Profilim
                    </a>
                </li>
                <li>
                    <a href="./postCv.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Cv yerləşdir
                    </a>
                </li>
                <li>
                    <a href="./postCv.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Vakansiya yerləşdir
                    </a>
                </li>
                <li>
                    <a href="./postCv.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Şirkət yarat
                    </a>
                </li>
                <li>
                    <a class="active" href="./myCompany.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Şirkətlərim
                    </a>
                </li>
                <li>
                    <a href="./myOrder.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Gözləmədə olan elanlar
                    </a>
                </li>
                <li>
                    <a href="./mysticker.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Elanlarım
                    </a>
                </li>
                <li>
                    <a href="./WishListpage.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg"
                                 alt="" />
                        </span>
                        Bəyəndiklərim
                    </a>
                </li>
                <li>
                    <a href="./security.html">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                                 alt="" />
                        </span>
                        Təhlükəsizlik
                    </a>
                </li>
            </ul>
            <div class="backsite">
                <a href="./index.html"
                   class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
            </div>
        </div>
        <div class="account_content">
            <div class="account_body">
                <div class="my-profile">
                    <div class="my-profile__head">
                        <h1 class="my-profile__name">Xoş gəlmisiniz, Rashid</h1>
                        <p>Hellojob.az</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a class="my-profile__item" href="./postCv.html">
                                <div class="my-profile__item__icon">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user-check.svg"
                                         alt="" />
                                </div>
                                <h2 class="my-profile__item__name">CV yerləşdir</h2>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="my-profile__item" href="./mysticker.html">
                                <div class="my-profile__item__icon">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/share.svg"
                                         alt="" />
                                </div>
                                <h2 class="my-profile__item__name">Elanlarım</h2>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a class="my-profile__item" href="./WishListpage.html">
                                <div class="my-profile__item__icon">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/check-heart.svg"
                                         alt="" />
                                </div>
                                <h2 class="my-profile__item__name">Bəyəndiklərim</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>