@{
    Layout = "_UserLayout";
}

@model UpdateCompanyVm

<div class="account">
    @{
        await Html.RenderPartialAsync("_UserSidebarPartialView");
    }
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a asp-controller="home" asp-action="index"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a href="./account.html" class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>@User.Identity.Name</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a asp-controller="account" asp-action="mysticker">Mənim elanlarım</a></li>
                        <li>
                            <a asp-controller="account" asp-action="security">Şəxsi məlumatlar</a>
                        </li>
                        <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="create_cv">
            <div class="title">
                <h1>Şirkət editlə</h1>
                <ul class="profile__add-cv__parts">
                    <li class="active">
                        <a href="#tab1" class="tab1 step_btn"> Şirkət məlumatları</a>
                    </li>
                </ul>
            </div>
            <div class="inner_tab">
                <form asp-controller="user" asp-action="updatecompany" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mb-5">
                        <div class="col-lg-2">
                            <h2 class="section_title">Şirkət məlumatları</h2>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <div class="image_input">
                                    <input class="choose"
                                           asp-for="Photo"
                                           id="fileInput"
                                           accept="image/*" />
                                    <span class="upload_file_img">
                                        <img id="preview"
                                             src="https://cdn-icons-png.flaticon.com/512/2815/2815428.png"
                                             class="m-0"
                                             alt="" />
                                    </span>
                                </div>
                                <label for="prof_img" class="upload_image">
                                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/upload2.svg"
                                         alt="" />
                                    <span>Şəkil əlavə et</span>
                                    <p>SVG, PNG, JPG or GIF (max. 1000x1000px)</p>
                                </label>


                            </div>
                            <span asp-validation-for="Photo" class="text-danger"></span>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Name">Ad</label>
                                        <input asp-for="Name"
                                               class="form-control inputs"
                                               placeholder="Adınız" />
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cv_inputs">
                                        <label asp-for="Email">E-Poçt</label>
                                        <input asp-for="Email"
                                               class="form-control inputs"
                                               placeholder="E-poçt ünvanınızı yazın" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary submit">Təsdiq et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head ">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="~/assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        <div class="persons_menu">
            <div class="account_head_user">
                <ul>
                    <li><a asp-controller="myaccount" asp-action="index">@ViewBag.User.FullName</a></li>
                    <li><a asp-controller="myaccount" asp-action="mysticker">Mənim elanlarım</a></li>
                    <li>
                        <a asp-controller="myaccount" asp-action="security">Şəxsi məlumatlar</a>
                    </li>
                    <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                </ul>
            </div>
        </div>
        <div class="hamburgers_menu">
            <ul class="myprofile">
                <li>
                    <a asp-controller="myaccount" asp-action="index">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg"
                                 alt="" />
                        </span>
                        Profilim
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="myrequest">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Müraciətlər
                    </a>
                </li>
                @if (User.IsInRole(UserRole.Company.ToString()))
                {
                    <li>
                        <a asp-controller="myaccount" asp-action="createvacans">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Vakansiya yerləşdir
                        </a>
                    </li>
                    <li>
                        <a class="active" asp-controller="myaccount" asp-action="updatecompany">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Şirkət Yarat
                        </a>
                    </li>
                    <li>
                        <a asp-controller="myaccount" asp-action="mycompany">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Şirkətlərim
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="myaccount" asp-action="createcv">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Cv yerləşdir
                        </a>
                    </li>
                }
                <li>
                    <a asp-controller="myaccount" asp-action="myorder">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Gözləmədə olan elanlar
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="mysticker">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Elanlarım
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="wishlistpage">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg"
                                 alt="" />
                        </span>
                        Bəyəndiklərim
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="security">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                                 alt="" />
                        </span>
                        Təhlükəsizlik
                    </a>
                </li>
            </ul>
            <div class="backsite">
                <a asp-controller="Home" asp-action="index"
                   class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
            </div>
        </div>
        <div class="account_content">
            <div class="create_cv">
                <div class="title">
                    <h1>Şirkət editlə</h1>
                    <ul class="profile__add-cv__parts">
                        <li class="active">
                            <a href="#tab1" class="tab1 step_btn"> Şirkət məlumatları</a>
                        </li>
                    </ul>
                </div>
                <div class="inner_tab">
                    <form asp-controller="user" asp-action="updatecompany" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row mb-5">
                            <div class="col-lg-2">
                                <h2 class="section_title">Şirkət məlumatları</h2>
                            </div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <div class="image_input">
                                        <input class="choose"
                                               asp-for="Photo"
                                               id="fileInput"
                                               accept="image/*" />
                                        <span class="upload_file_img">
                                            <img id="preview"
                                                 src="https://cdn-icons-png.flaticon.com/512/2815/2815428.png"
                                                 class="m-0"
                                                 alt="" />
                                        </span>
                                    </div>
                                    <label for="prof_img" class="upload_image">
                                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/upload2.svg"
                                             alt="" />
                                        <span>Şəkil əlavə et</span>
                                        <p>SVG, PNG, JPG or GIF (max. 1000x1000px)</p>
                                    </label>


                                </div>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Name">Ad</label>
                                            <input asp-for="Name"
                                                   class="form-control inputs"
                                                   placeholder="Adınız" />
                                            <span asp-validation-for="Name" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="cv_inputs">
                                            <label asp-for="Email">E-Poçt</label>
                                            <input asp-for="Email"
                                                   class="form-control inputs"
                                                   placeholder="E-poçt ünvanınızı yazın" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-button">
                            <button type="submit" class="btn btn-primary submit">Təsdiq et</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/assets/js/createcompany.js"></script>
}