@model GetExperienceVm

<div class="container">
    <h3 class="fw-bold m-3">@Model.Name</h3>
    <h5 class="fw-bold m-3">Cv count: @Model.IncludeCvVms.Count</h5>
    <h5 class="fw-bold m-3">Vacancy count: @Model.IncludeVacancyVms.Count</h5>
</div>
<a class="btn btn-light fw-bold fs-4" asp-action="Index" asp-controller="Experience">Back</a>