<section id="rules">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title">
                    <h1>umumi qaydalar</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 blog p-0">
                <div class="row">
                    <div class="desc col-md-12 full">
                        <p>
                            Vakansiya yerləşdirmək üçün qaydalar<br />
                        </p>
                        <ol>
                            <li>Vakansiyanın saytda qalma müddəti 2 aydır.</li>
                            <li>
                                Vakansiyanın adı ilə kateqoriyası uyğunluq təşkil
                                etməlidir. Əgər bu məlumat səhv daxil olunubsa, sayt bu
                                məlumatı düzəltməyi öz öhdəsinə götürür.
                            </li>
                            <li>
                                İş elanları və namizədə tələblər xanaları vakansiyanı
                                ətraflı izah edəcək şəkildə aydın qeyd olunmalıdır.
                            </li>
                            <li>
                                Leksik, qrammatik və orfoqrafik normalara uyğun olmayan
                                mətni redaktə etməyi sayt öz öhdəsinə götürür.
                            </li>
                            <li>
                                Natamam və ya normalara uyğun olmayan məlumatlar qəbul
                                olunmur və ya yenidən düzəliş etmək üçün geri göndərilir.
                            </li>
                            <li>
                                Əmək haqqı məbləği yalnız AZN ilə göstərilməlidir.&nbsp;
                            </li>
                            <li>
                                Dərc olunmuş vakansiyanın redaktəsi zamanı İş haqqında
                                məlumat və ya Namizədə tələblər bölməsinin mövcud olana
                                nəzərən bütünlüklə dəyişdirilməsi / yeni məlumat ilə əvəz
                                olunması qadağandır.
                            </li>
                            <li>
                                Tibbi, kosmetik, zinyət əşyaları məhsulların online
                                satışı, kütləvi şəkildə işə qəbul və s. növdə
                                vakansiyaların yayımı fərdi müraciətlər tərəfindən qəbul
                                olunmur. Elan yalnız korporativ (numune@sirketinadi.az)
                                e-poçtdan təsdiqləndiyi zaman qəbul oluna bilər.
                            </li>
                            <li>
                                Şəbəkə üsulu marketinq növündə olan vakansiyalar qəbul
                                olunmur.
                            </li>
                        </ol>
                        <p>CV yerləşdirmək üçün qaydalar</p>
                        <ol>
                            <li>CV-nin saytda qalma müddəti 5 aydır.</li>
                            <li>
                                CV saytda siz onu deaktiv edənə qədər yayımlanacaqdır.
                            </li>
                            <li>
                                Vəzifə bölməsində yalnız bir vəzifənin adı qeyd oluna
                                bilər. Bir neçə vəzifə qeyd olunan CV-lər qəbul olunmur və
                                redaktə etməyiniz üçün geri göndərilir.
                            </li>
                            <li>
                                CV-ə əlavə olunmuş şəkil, ümumişlək CV normalarına uyğun
                                olmalıdır.&nbsp;
                            </li>
                            <li>
                                Vəzifənin adı ilə kateqoriya uyğunluq təşkil etməlidir.
                                Əgər bu məlumat səhv daxil olunubsa, sayt bu məlumatı
                                düzəltməyi öz öhdəsinə götürür.
                            </li>
                            <li>
                                Leksik, qrammatik və orfoqrafik normalara uyğun olmayan
                                mətni redaktə etməyi sayt öz öhdəsinə götürür.
                            </li>
                            <li>
                                Natamam və ya normalara uyğun olmayan məlumatlar qəbul
                                olunmur və ya yenidən düzəliş etmək üçün geri göndərilir.
                            </li>
                            <li>
                                Əmək haqqı məbləği yalnız AZN ilə göstərilməlidir.&nbsp;
                            </li>
                            <li>
                                Şübhəli fəaliyyət növü olan və ya fəaliyyət istiqaməti
                                bəlli olmayan CV-lər qəbul olunmur.
                            </li>
                            <li>
                                Sizə daxil olan müraciətlərə, telefon zənglərinə görə
                                (Nömrə yerləşdirmək vacib deyil) sayt məsuliyyət daşımır.
                            </li>
                        </ol>
                        <p>
                            Saytda yerləşdirilən vakansiyalar və CV-lər üçün məsuliyyət
                            elan yerləşdirən tərəf daşıyır.
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>