@{
    Layout = "";
}

@model string
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="codedthemes">
    <meta name="keywords" content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="codedthemes">
    <link rel="shortcut icon" href="assets/others/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="assets/others/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/others/styles/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/assets/others/styles/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/others/styles/plugins/Waves/waves.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/others/styles/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/others/styles/css/responsive.css">
</head>
<body>
    <div class="error-404">
        <div class="container-fluid">
            <div class="row">
                <div class="text-uppercase col-xs-12">
                    <h1>404</h1>
                    <p>@Model</p>
                    <a asp-controller="Home" asp-action="index" class="btn btn-error btn-lg waves-effect">Sayta keçid</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/others/styles/plugins/Jquery/dist/jquery.min.js"></script>
    <script src="~/assets/others/styles/plugins/tether/dist/js/tether.min.js"></script>
    <script src="~/assets/others/styles/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/others/styles/plugins/Waves/waves.min.js"></script>
</body>
</html>
