<section id="sliders">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title">
                    <h1>
                        İş elanları 2023
                    </h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="responsive">
                    <div class="item">
                        <div class="new-cat-card apply-cv">
                            <a href="~/postCv.html">
                                <img src="https://www.hellojob.az/content/assets/images/vacancies/upload.svg">
                                <div class="new-cat-name"><p>CV əlavə et</p></div>
                                <div class="new-cat-count"><p>Şirkətlər sizi tapsın</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/maliyye-cat-6414340658330641434065833b-26NMIAq7bV3-yXq.svg" alt="Maliyyə">
                                <div class="new-cat-name"><p>Maliyyə</p></div>
                                <div class="new-cat-count"><p><span>105</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Marketinq">
                                <div class="new-cat-name"><p>Marketinq</p></div>
                                <div class="new-cat-count"><p><span>20</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/texnologiya-cat-641433be8b37d641433be8b38e-e9_0BJdsJbmUnVB.svg" alt="Texnologiya">
                                <div class="new-cat-name"><p>Texnologiya</p></div>
                                <div class="new-cat-count"><p><span>48</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Satış">
                                <div class="new-cat-name"><p>Satış</p></div>
                                <div class="new-cat-count"><p><span>42</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="/is-elanlari/dizayn">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/dizayn-cat-64143423043a064143423043ab-dW7E0i95SRjZ4mG.svg" alt="Dizayn">
                                <div class="new-cat-name"><p>Dizayn</p></div>
                                <div class="new-cat-count"><p><span>6</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Müxtəlif">
                                <div class="new-cat-name"><p>Müxtəlif</p></div>
                                <div class="new-cat-count"><p><span>11</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tibb-ve-eczaciliq-cat-6414344d875b26414344d875bd-N7Sq_u6Y1JguQLo.svg" alt="Səhiyyə">
                                <div class="new-cat-name"><p>Səhiyyə</p></div>
                                <div class="new-cat-count"><p><span>5</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Təhsil və elm">
                                <div class="new-cat-name"><p>Təhsil və elm</p></div>
                                <div class="new-cat-count"><p><span>14</span> iş elanı</p></div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="new-cat-card">
                            <a href="">
                                <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/xidmet-cat-6414342ff21226414342ff212e-m10Qat01rxfzfT3.svg" alt="Xidmət">
                                <div class="new-cat-name"><p>Xidmət</p></div>
                                <div class="new-cat-count"><p><span>26</span> iş elanı</p></div>
                            </a>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="works">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title">
                    <h1>
                        Vakansiyalar
                    </h1>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="~/vacansdetail.html">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Bağban</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="~/vacansdetail.html">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Satış Təmsilçisi</h3>
                                            <p> Senser lingerie</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">400 - 800 AZN</span>
                                    <span class="date">14 Aprel</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="~/vacansdetail.html">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="~/vacansdetail.html">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="~/vacansdetail.html">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="~/vacansdetail.html">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Bağban</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Bağban</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Satış Təmsilçisi</h3>
                                            <p> Senser lingerie</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">400 - 800 AZN</span>
                                    <span class="date">14 Aprel</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Bağban</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Bağban</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Satış Təmsilçisi</h3>
                                            <p> Senser lingerie</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">400 - 800 AZN</span>
                                    <span class="date">14 Aprel</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="satis">
                                        </div>
                                        <div class="title">
                                            <h3>Telesatış bölməsində kiçik mütəxəssis</h3>
                                            <p> Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:25</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/satis-cat-64143417860756414341786081-vC1K1njTVifH3Sh.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Birbaşa satışlar bölməsində kiçik mütəxəssis</h3>
                                            <p>Kapital Bank</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Bu gün 10:23</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/tehsil-ve-elm-cat-6414348e561bd6414348e561cb-lY0Gl-kw9Pyk_kP.svg" alt="Aspaz">
                                        </div>
                                        <div class="title">
                                            <h3>Aşpaz</h3>
                                            <p> Fidan uşaq bağçası</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 22:04</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/marketinq-cat-641433fe9e5c6641433fe9e5d3-rKuhtYV5f4UPa85.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>SMM</h3>
                                            <p> By Telecom MMC</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary"> Ə/h razılaşma ilə</span>
                                    <span class="date">Dünən 17:43</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Bağban</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-3">
                        <div class="sticky_element">
                            <div class="reclams">
                                <img src="https://www.hellojob.az/uploads/banners/2023/05/01/kapital-bank-banner-644f848092e7a-9bb97ce3487c22cc702dcd5e0ccb309f644f848092e8e-aryZtKUi6v_De5r.jpg" alt="">
                            </div>
                            <div class="companies">

                                <div class="company">
                                    <a href="~/companydetail.html">
                                        <div class="images">
                                            <img src="https://www.hellojob.az/uploads/company/min/2021/09/14/61409f490f31b-gn4S-uC-ECn51mv.jpg" alt="Kapital Bank" class="image">
                                        </div>
                                        <p>36 vakansiya</p>
                                    </a>
                                </div>


                                <div class="company">
                                    <a href="~/companydetail.html">
                                        <div class="images">
                                            <img src="https://www.hellojob.az/uploads/company/min/2021/09/14/6140a01fbb1a9-R_o63qMnR_BeT_p.jpg" alt="PASHA Bank" class="image">
                                        </div>
                                        <p>25 vakansiya</p>
                                    </a>
                                </div>


                                <div class="company">
                                    <a href="~/companydetail.html">
                                        <div class="images">
                                            <img src="https://www.hellojob.az/uploads/company/min/2021/09/05/6109511b552b4-8X-PcUZWa58l2-i.png" alt="Xalq Bank" class="image">
                                        </div>
                                        <p>20 vakansiya</p>
                                    </a>
                                </div>


                                <div class="company">
                                    <a href="~/companydetail.html">
                                        <div class="images">
                                            <img src="https://www.hellojob.az/uploads/company/min/2021/09/29/61548ddd3c469-iF_04-QSR3PU3W-.jpg" alt="AccessBank" class="image">
                                        </div>
                                        <p>15 vakansiya</p>
                                    </a>
                                </div>


                                <div class="company">
                                    <a href="~/companydetail.html">
                                        <div class="images">
                                            <img src="https://www.hellojob.az/uploads/company/min/2021/03/02/6038f2d221bd1-Mx_Gdq7mSi7MLA_.jpg" alt="Güvənli MMC" class="image">
                                        </div>
                                        <p>8 vakansiya</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>