@{
    Layout = "_UserLayout";
}
@model ChangePasswordVm
<div class="account">
    @{
        await Html.RenderPartialAsync("_UserSidebarPartialView");
    }
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a asp-controller="home" asp-action="index"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>@User.Identity.Name</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a asp-controller="user" asp-action="index">Panel</a></li>
                        <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="security">
            <div class="title">
                <h1>Şi</h1>
            </div>
            <div class="security_tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="allsecurity">
                            <form method="post">
                                <div class="security-inputs">
                                    <label asp-for="Password">Mövcud Şifrəni Daxil Edin</label>
                                    <input asp-for="Password" type="password"
                                           name="Password"
                                           class="form-control inputs"
                                           placeholder="********" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="security-inputs">
                                    <label asp-for="NewPassword">Yeni Şifrə</label>
                                    <input asp-for="NewPassword" type="password"
                                           name="NewPassword"
                                           class="form-control inputs"
                                           placeholder="********" />
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                                <div class="security-inputs">
                                    <label asp-for="NewConfirmPassword">Yeni Şifrənin Təsdiqi</label>
                                    <input asp-for="NewConfirmPassword" type="password"
                                           name="NewConfirmPassword"
                                           class="form-control inputs"
                                           placeholder="********" />
                                    <span asp-validation-for="NewConfirmPassword"></span>
                                </div>
                                <div class="save_button mb-0">
                                    <button class="btn btn-submit submit" type="submit">Şifrəni yeniləmək</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="/assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        @{
            await Html.RenderPartialAsync("_MobileSidebarPartialView");
        }
        <div class="account_content">
            <div class="security">
                <div class="title">
                    <h1>Təhlükəsizlik</h1>
                </div>
                <div class="security_tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="allsecurity">
                                <form method="post">
                                    <div class="security-inputs">
                                        <label asp-for="Password">Mövcud Şifrəni Daxil Edin</label>
                                        <input asp-for="Password" type="password"
                                               name="Password"
                                               class="form-control inputs"
                                               placeholder="********" />
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                    <div class="security-inputs">
                                        <label asp-for="NewPassword">Yeni Şifrə</label>
                                        <input asp-for="NewPassword" type="password"
                                               name="NewPassword"
                                               class="form-control inputs"
                                               placeholder="********" />
                                        <span asp-validation-for="NewPassword"></span>
                                    </div>
                                    <div class="security-inputs">
                                        <label asp-for="NewConfirmPassword">Yeni Şifrənin Təsdiqi</label>
                                        <input asp-for="NewConfirmPassword" type="password"
                                               name="NewConfirmPassword"
                                               class="form-control inputs"
                                               placeholder="********" />
                                        <span asp-validation-for="NewConfirmPassword"></span>
                                    </div>
                                    <div class="save_button mb-0">
                                        <button class="btn btn-submit submit" type="submit">Şifrəni yeniləmək</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>