@model ForgotPasswordVm

<div class="container">
    <h1>Reset Password</h1>
    <form method="post">

        <div class="mt-3">
            <label asp-for="Password">Enter Your Old Password</label>
            <input asp-for="Password" class="form-control" type="password">
            <span asp-validation-for="Password" class="m-1 text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="NewPassword">Enter Your New Password</label>
            <input asp-for="NewPassword" class="form-control" type="password">
            <span asp-validation-for="NewPassword" class="m-1 text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="NewConfirmPassword">Confirm Your New Password</label>
            <input asp-for="NewConfirmPassword" class="form-control" type="password">
            <span asp-validation-for="NewConfirmPassword" class="m-1 text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success mt-3">Reset Password</button>
    </form>
</div>