@model GetBaseCategoryVm

<div class="container">
    <h3 class="fw-bold m-3">@Model.Name</h3>
    <h4 class="fw-normal mx-5 my-3">Category Items Count: @Model.CategoryItems.Count</h4>
</div>
<div class="container">
    <img src="~/assets/images/BusinessTitle/@Model.ImageUrl" class="w-25">
</div>
<div class="card-group">
    @foreach (var product in Model.CategoryItems)
    {
        <div class="card m-1 bg-primary text-white rounded-3">
            <div class="card-body">
                <h5 class="card-title text-white">Name: @product.Name</h5>
            </div>
        </div>
    }
</div>
<a class="btn btn-light fw-bold fs-4" asp-action="Index" asp-controller="BaseCategory">Back</a>