@model FindAccountVm
<div class="forgot">
    <form asp-action="FogotPassword" asp-controller="account" method="post">
        <div class="inputs_lg form-group">
            <label asp-for="UserNameOrEmail"> E-Poçt və ya istifadəçi adı</label>
            <input asp-for="UserNameOrEmail" placeholder="E-Poçt və ya istifadəçi adı yazın" required>
            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
        </div>
        <div class="buttons_sbmt">
            <div class="forgot_submit">
                <button type="submit">Göndər</button>
            </div>
            <div class="goLogin">
                <button type="button">Giriş səhifəsi</button>
            </div>
        </div>
    </form>
</div>