@model LoginVM

<div asp-validation-summary="All"></div>
<div class="login">
    @Html.Raw(TempData["Login"])
    <form method="post" asp-action="Login" asp-controller="Account">
        <div class="inputs_lg form-group">
            <label asp-for="UserNameOrEmail"></label>
            <input asp-for="UserNameOrEmail" placeholder="E-poçtunuzu yazın" required>
            <span asp-validation-for="UserNameOrEmail"></span>

        </div>
        <div class="inputs_lg form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="********" required>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="log_foot">
            <div class="rememberme form-group">
                <input asp-for="IsRemembered">
                <span>Yadda saxla</span>
            </div>
            <a asp-action="forgotpassword" asp-controller="account" style="cursor:pointer;">Şifrəni unutmuşam</a>
        </div>
        <div class="buttons_sbmt">
            <div class="login_submit">
                <button type="submit">Daxil ol</button>
            </div>
            <div class="goRegister">
                <button type="button">Qeydiyyatdan keç</button>
            </div>
            <div class="alert alert-light" role="alert">
                Əgər vakansiya yerləşdirmək istəyirsinizsə,sayt daxilində "Qeydiyyat" zamanı "Kateqoriya" olaraq "Şirkət seçin"!.
            </div>
        </div>
    </form>
</div>