@model RegisterVM

<div class="register">
    @Html.Raw(TempData["Register"])

    <form method="post" asp-action="register" asp-controller="account">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="inputs_lg form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" placeholder="Adınızı yazın" required>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="inputs_lg form-group">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" placeholder="Soyadınızı yazın" required>
            <span asp-validation-for="Surname"></span>
        </div>
        <div class="inputs_lg form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" placeholder="E-poçtunuzu yazın" required>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="inputs_lg form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" placeholder="Istifadeci adi yazın" required>
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="inputs_lg form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="********">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="inputs_lg form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" placeholder="********" required>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="inputs_lg form-group">
            <label asp-for="Role">Kateqoriya</label>
            <select asp-for="Role" class="form-select role mb-3">
                <option value="@UserRole.Company">Şirkət</option>
                <option value="@UserRole.Employee">İşçi</option>
            </select>
            <span asp-validation-for="Role"></span>
        </div>
        <div class="log_foot">
            <div class="rememberme form-group">
                <input asp-for="AllowTerms" required>
                <span>Qeydiyyatı Təsdiqlə</span>
                <span asp-validation-for="AllowTerms"></span>
            </div>

        </div>
        <div class="buttons_sbmt">
            <div class="register_submit">
                <button type="submit">Qeydiyyat ol</button>
            </div>
            <div class="goLogin">
                <button type="button">Giriş səhifəsi</button>
            </div>
        </div>
    </form>
</div>


