@model CreateCategoryItemVm

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create category item</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BaseCategoryId">Base Category</label>
                    <select asp-for="BaseCategoryId" asp-items="new SelectList(Model.Categorys, nameof(IncludeBaseCategoryVm.Id), nameof(IncludeBaseCategoryVm.Name))" class="form-control">
                        <option selected disabled>Choose base Cctegory</option>
                    </select>
                    <span asp-validation-for="BaseCategoryId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" asp-controller="CategoryItem" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>