*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    #titles_and_bgblue {
        position: relative;

        .blueback {
            height: 70px;
            background-color: #1f9dff;
            position: absolute;
            width: 100%;
            z-index: 0;
            top: 0;
        }

        .titles {
            ul {
                position: relative;
                float: left;
                display: flex;
                list-style: none;
                margin-top: 22px;

                li {
                    a {
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                        text-decoration: none;
                    }

                    &::after {
                        position: relative;
                        float: right;
                        content: '|';
                        font-weight: 500;
                        color: #fff;
                        font-size: 14px;
                        margin: 0 32px;
                    }
                }
            }
        }

    }

    #cv_filter {
        position: relative;
        .title {
            margin-top: 40px;

            h1 {
                font-weight: 700 !important;
                font-size: 17px !important;
                line-height: 21px !important;
                text-transform: uppercase;
                color: #212944 !important;
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 24px;

                &::before {
                    content: "";
                    width: 3px;
                    height: 24px;
                    background-color: #2196F3;
                    display: block;
                    margin-right: 16px;
                    border-radius: 10px;
                }
            }
        }

        .full_filter {
         
            .filters {
                padding: 16px;
                background-color: white;
                border: 1px solid #e2e9f2;
                border-radius: 8px;
                position: sticky;
                top: 0px;
                .filters_item {
                    border-bottom: 1px solid #d5d5d5;

                    .title {
                        font-weight: 700 !important;
                        font-size: 17px !important;
                        line-height: 21px !important;
                        text-transform: uppercase;
                        color: #1f9dff !important;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 24px;

                        &::before {
                            content: "";
                            width: 3px;
                            height: 24px;
                            background-color: #2196F3;
                            display: block;
                            margin-right: 16px;
                            border-radius: 10px;
                        }

                    }

                    .pro {
                        max-height: 190px;
                        min-height: 190px;
                        overflow-y: auto;

                        .inputs {
                            display: flex;
                            justify-content: space-between;

                            .checkbox {
                                input {
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid #007bff;
                                    box-shadow: none;
                                }

                                span {
                                    display: inline-block;
                                    margin-left: 5px;
                                }
                            }

                        }

                        &::-webkit-scrollbar {
                            width: 3px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #007bff;
                            border: 3px solid #007bff;
                        }

                    }

                }

            }

            .work_mode {
                border-bottom: 1px solid #d5d5d5;

                .title {
                    font-weight: 700 !important;
                    font-size: 17px !important;
                    line-height: 21px !important;
                    text-transform: uppercase;
                    color: #1f9dff !important;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 24px;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 24px;
                        background-color: #2196F3;
                        display: block;
                        margin-right: 16px;
                        border-radius: 10px;
                    }

                }

                .pro {
                    max-height: 150px;
                    min-height: 120px;
                    overflow-y: auto;

                    .inputs {
                        .checkbox {
                            input {
                                width: 20px;
                                height: 20px;
                                border: 1px solid #007bff;
                                box-shadow: none;
                            }

                            span {
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }

                    }

                    &::-webkit-scrollbar {
                        width: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #007bff;
                        border: 3px solid #007bff;
                    }
                }
            }

            .education {
                border-bottom: 1px solid #d5d5d5;

                .title {
                    font-weight: 700 !important;
                    font-size: 17px !important;
                    line-height: 21px !important;
                    text-transform: uppercase;
                    color: #1f9dff !important;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 24px;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 24px;
                        background-color: #2196F3;
                        display: block;
                        margin-right: 16px;
                        border-radius: 10px;
                    }
                }

                .pro {
                    max-height: 190px;
                    min-height: 160px;
                    overflow-y: auto;

                    .inputs {
                        .checkbox {
                            input {
                                width: 20px;
                                height: 20px;
                                border: 1px solid #007bff;
                                box-shadow: none;
                            }

                            span {
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }

                    }

                    &::-webkit-scrollbar {
                        width: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #007bff;
                        border: 3px solid #007bff;
                    }
                }
            }

            .seniority {
                border-bottom: 1px solid #d5d5d5;

                .title {
                    font-weight: 700 !important;
                    font-size: 17px !important;
                    line-height: 21px !important;
                    text-transform: uppercase;
                    color: #1f9dff !important;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 24px;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 24px;
                        background-color: #2196F3;
                        display: block;
                        margin-right: 16px;
                        border-radius: 10px;
                    }
                }

                .seniorties {
                    .form-group {
                        #ranger {
                            height: 6px;
                            background-color: #e4e4e4;
                            border-radius: 2px;

                            .range {
                                height: 6px;
                                background-color: #0077c2;
                                border-radius: 2px;
                            }

                            .handle {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: #0077c2;
                                border: none;
                                outline: none;
                                margin-top: -8px;
                                margin-left: -10px;

                                &:before {
                                    display: none;
                                }
                            }

                            .handle:last-of-type {
                                margin-left: -10px;
                            }
                        }

                        .interval {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 10px;
                            color: #999;
                            font-size: 12px;

                            span {
                                &.inactive {
                                    color: #d4d4d4;
                                }
                            }
                        }
                    }

                }

            }
            .drivers {
                border-bottom: 1px solid #d5d5d5;

                .title {
                    font-weight: 700 !important;
                    font-size: 17px !important;
                    line-height: 21px !important;
                    text-transform: uppercase;
                    color: #1f9dff !important;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 24px;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 24px;
                        background-color: #2196F3;
                        display: block;
                        margin-right: 16px;
                        border-radius: 10px;
                    }
                }

                .pro {
                    max-height: 90px;
                    min-height: 73px;
                    overflow-y: auto;

                    .inputs {
                        .checkbox {
                            input {
                                width: 20px;
                                height: 20px;
                                border: 1px solid #007bff;
                                box-shadow: none;
                            }

                            span {
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }

                    }

                    &::-webkit-scrollbar {
                        width: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #007bff;
                        border: 3px solid #007bff;
                    }
                }
            }
        }

        .right_side {
            .sorting {
                display: flex;
                justify-content: end;
                align-items: center;

                label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 25px;
                    color: #A3A6AC;
                    margin-right: 24px;
                }

                .selected {
                    background-color: #F4F6F9;
                    padding: 10px 45px 11px 25px;
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 25px;
                    box-shadow: none;
                }
            }

            .user_block {
                border: 1px solid #e2e9f2;
                border-radius: 8px;
                background-color: white;
                margin-bottom: 32px;
                color: #061e40;
                margin-top: 20px;
                position: relative;

                a {
                    text-decoration: none;
                    color: #000;

                    .header_user {
                        margin-bottom: 24px;
                        position: unset;
                        display: flex;
                        align-items: center;
                        padding: 15px;

                        .user_img {
                            border: 5px solid #e2e9f2;
                            width: 120px;
                            height: 95px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-right: 30px;

                            img {
                                width: 100%;
                                object-fit: contain;
                            }
                        }

                        .user_desc {
                            margin-right: 30px;

                            .profession {
                                font-weight: 500;
                                font-size: 20px;
                                margin-bottom: 4px;
                                display: flex;
                                align-items: center;
                            }

                            .fullname {
                                font-weight: 400;
                                margin-bottom: 15px;
                                color: #000;
                            }
                        }

                    }

                    .user_options {
                        display: flex;
                        justify-content: space-between;

                        .item {
                            margin-bottom: 0;
                            display: flex;
                            align-items: flex-start;
                            padding: 10px;

                            .icon {
                                width: 40px;
                                height: 40px;
                                background: #ebedf3;
                                border-radius: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 16px;
                            }

                            .text {
                                display: flex;
                                flex-direction: column;
                                height: 100%;

                                h4 {
                                    padding: 0;
                                    font-size: 18px;
                                    color: #565252;
                                    margin: 0;
                                }

                                p {
                                    color: gray;
                                    margin: 0;
                                    padding: 0;
                                }
                            }

                        }
                    }

                }

                .hearts {
                    position: absolute;
                    top: 10px;
                    right: 80px;
                    cursor: pointer;

                    .like {
                        top: 20px;
                        position: absolute;
                        width: 28px;
                        height: 28px;
                        background: #F4F6F9;
                        border-radius: 6px;
                        margin-left: 28px;

                        .unliked {
                            font-size: 20px;
                            text-align: center;
                            position: absolute;
                            top: 6px;
                            right: 4px;
                            transition: 0.3s ease;

                            &:hover {
                                color: red;
                                transition: 0.3s ease;
                            }
                        }

                        .liked {
                            font-size: 20px;
                            text-align: center;
                            position: absolute;
                            top: 6px;
                            right: 4px;
                            color: rgb(235, 63, 63);
                            display: none;
                        }

                        .hidden {
                            display: block;
                        }

                    }

                }

                @media screen and (max-width: 821px) {
                    & {
                        a {
                            .header_user {
                                margin-bottom: 24px;

                                .user_desc {
                                    margin-right: 10px;

                                    .profession {
                                        font-size: 10px;
                                    }

                                    .name {
                                        margin-bottom: 8px;
                                    }
                                }
                            }

                            .user_options {

                                .item {
                                    padding: 10px;

                                    .icon {
                                        width: 20px;
                                    }

                                    .text {
                                        display: flex;
                                        flex-direction: column;
                                        height: 100%;

                                        h4 {
                                            font-size: 10px;
                                        }

                                        p {
                                            font-size: 8px;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.dark {
    background: #061e40 !important;
    .search_titles_bottom {
        .searchbar {
            background-color: #214f8b !important;

            .searchbar_top {
                form {
                    position: relative;
                    float: left;
                    width: 100%;

                    .input {
                        input {
            background-color: #214f8b !important;

                            color: #ffffff;
                        }
                    }

                    .dark {
                        background: #061e40 !important;
                        color: white;
                    }

                    .search_btn {
                        width: 137px;
                        height: 47px;
                        background-color: #1f9dff;
                        border-radius: 8px;
                        cursor: pointer;
                        transition: .2s ease;
                        border: 1px solid #1f9dff;
                        font-family: 'Samsung Sharp Sans';
                        font-size: 14px;
                        color: #fff;
                        margin-right: 16px;
                    }
                }
            }
        }
    }
    #cv_filter {
         .title {
            h1 {
                color: white !important;
          
            }
        }

        .full_filter {
            .filters {
                background-color: #061e40;

                .filters_item {
                    border-bottom: 1px solid #183d70;

                    .title {

                        color: white !important;
                    }

                    .pro {
                        .inputs {
                            .checkbox {
                                input {
                                    background-color: #061e40;
                                    color: white;
                                }
                                label{
                                    color: white;
                                }
                            }
                            .prof_count {
                                color: white;
                            }

                        }

                    }

                }

            }

            .work_mode {
                border-bottom: 1px solid #183d70;


                .title {
                    color: white !important;
                }

                .pro {
                    .inputs {
                        .checkbox {
                            input {
                                background-color: #061e40;
                                color: white;
                            }
                            label{
                                color: white;
                            }
                        }
                        span {
                            color: white;
                        }

                    }
                }
            }

            .education {
                border-bottom: 1px solid #183d70;

                .title {
                    color: white !important;
                }

                .pro {
                    .inputs {
                        .checkbox {
                            input {
                                background-color: #061e40;
                                color: white;
                            }
                            label{
                                color: white;
                            }
                            span {
                                color: white;
                            }
                        }

                    }
                }
            }

            .seniority {
                border-bottom: 1px solid #183d70;

                .title {
                    color: white !important;
                }

                .seniorties {
                    .form-group {
                        #ranger {
                            background-color: #0077c2;

                            .range {
                                background-color: #e4e4e4;
                            }
                        }
                    }

                }

            }

         


        }

     
        .drivers {
            border-bottom: 1px solid #183d70;


            .title {
                color: white !important;
            }

            .pro {
                .inputs {
                    .checkbox {
                        input {
                            background-color: #061e40;
                            color: white;
                        }
                        label{
                            color: white;
                        }
                        span {
                            color: white;
                        }
                    }

                }
            }
        }

        .right_side {
            .sorting {
                label {
                    color: #A3A6AC;
                }

                .selected {
                    color: white;
                    background-color: #214f8b !important;

                }
            }

            .user_block {
                background-color: #061e40;
                color: white;

                a {
                    color: white;

                    .header_user {
                        .user_img {
                            border: 5px solid #214f8b;
                        }

                        .user_desc {
                            margin-right: 30px;

                            .profession {
                                color: white;
                            }

                            .fullname {
                                color: white;
                            }
                        }

                    }

                    .user_options {
                        .item {

                            .text {
                                h4 {
                                    color: white;

                                    p {
                                        color: white !important;
                                    }
                                }

                            }
                        }

                    }

                    
                }
                .hearts {
                    .like {
                        background: #436ca8;

                        .unliked {
                            color: white;

                            &:hover {
                                color: red;
                                transition: 0.3s ease;
                            }
                        }
                    }

                }

            }
        }
    }
}