.orders {
    padding: 0 24px;
    margin-bottom: 50px;

    .title {
        margin-top: 40px;

        h1 {
            font-weight: 700 !important;
            font-size: 17px !important;
            line-height: 21px !important;
            text-transform: uppercase;
            color: #2196F3 !important;
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 24px;

            &::before {
                content: "";
                width: 3px;
                height: 24px;
                background-color: #2196F3;
                display: block;
                margin-right: 16px;
                border-radius: 10px;
            }
        }
    }


}

.myorder{
    p{
        padding: 15px;
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 21px !important;
        text-transform: uppercase;
        color: #2196F3 !important;
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;

        &::before {
            content: "";
            width: 3px;
            height: 24px;
            background-color: #2196F3;
            display: block;
            margin-right: 16px;
            border-radius: 10px;
        }
    }
    .table{
  
        tr{
            border:1px solid #2196F3;
            th{
                border-right: 1px solid  #2196F3;
                color: #2196F3;
            }
            td{
                border-right: 1px solid  #2196F3;
                color: #2196F3;

            }
        }
    }
}
