*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    #liked {
        .two_side_bridge {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ul {
                display: flex;
                justify-content: flex-end;

                li {
                    &::after {
                        position: relative;
                        float: right;
                        content: '/';
                        margin-left: 15px;
                        color: #fff;
                        font-size: 16px;
                    }

                    a {
                        font-weight: 200;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }


    }

    #rules {
        .title {
            margin-top: 40px;

            h1 {
                font-weight: 700 !important;
                font-size: 17px !important;
                line-height: 21px !important;
                text-transform: uppercase;
                color: #212944 !important;
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 24px;

                &::before {
                    content: "";
                    width: 3px;
                    height: 24px;
                    background-color: #2196F3;
                    display: block;
                    margin-right: 16px;
                    border-radius: 10px;
                }
            }
        }

        .desc {
            p {
                position: relative;
                float: left;
                width: 100%;
                margin-top: 15px !important;
                font-size: 18px !important;
                line-height: 30px !important;
                color: rgba(41, 41, 41, 1) !important;
                font-weight: 500 !important;
                font-style: normal !important;
            }
             ol {
                position: relative;
                float: left;
                width: 100%;
                padding-left: 16px;
                margin-top: 20px;
                margin-bottom: 5px;
                li{
                    position: relative;
                    float: left;
                    width: 100%;
                    margin-top: 15px;
                    list-style-type: decimal;
                    font-size: 18px;
                    font-weight: 300;
                    color: #1b1b1b;
                }
            }
        }
    }
}

.dark{
    #rules {
        .title {
            margin-top: 40px;

            h1 {
        
                color: white !important;
         

                &::before {
                    content: "";
                    width: 3px;
                    height: 24px;
                    background-color: #2196F3;
                    display: block;
                    margin-right: 16px;
                    border-radius: 10px;
                }
            }
        }

        .desc {
            p {

                color: white !important;
       
            }
             ol {
              
                li{
          
                    color: white
                }
            }
        }
    }
}